

	#subheader {
		border-bottom-color:#e17c19;
	}


	#sidebar .section-box ul {
		list-style:none;
		padding:0px;
	}

	#sidebar .section-box li {
		padding:2px;
	}

	#sidebar .section-box li a {
		color:black;
	}
	
	.story.portrait-image .image {
		float: right !important;
		margin-right: 0px !important;
		margin-left: 10px !important;
	}
	
	.story.portrait-image .description {
		margin-left: 0px !important;
		margin-right: 10px !important;
	}
	
	.story {
		border-bottom:solid 1px #ccc;
	}
	
	.story:last-of-type {
		border:none !important;
	}
	
	.story .description hr,
	.story .description blockquote {
		border:none;
		padding:0px 10px;
	}
	
	.story h3 {
	}
	
	.story a {
		color:black;
	}

	.story .byline {
		margin-bottom:5px;
		font-size:0.8em;
/* 		display:block; */
/* 		clear:right; */
	}
	
	.story .description,
	.story .description a {
		color:#666;
	}
		
	.story .description a:hover {
		text-decoration:none;
	}
	
	.story .description,
	.story .description blockquote {
		font-size:0.9em !important;
		line-height:1.2em !important;
	}
	
	.story .excerpt {
/* 		float:left; */
	}

	
	#sidebar .widget_nh-clas-search-widget input[type=submit] {
		background-color:#333;
		border-color:#333;
	}

