/****************************************************************************************
 * Main
 ****************************************************************************************/

	#content {
		float:left;
		min-height:1px;
		border-right:solid 1px transparent;
		border-left:solid 1px transparent;
		padding-right:20px;
		padding-left:20px;
		margin-right:-1px;
		margin-left:-1px;
	}
	
	#content.full-width,
	#content.two-sidebars-width.hide-left-sidebar.hide-right-sidebar,
	#content.one-sidebar-width.left-sidebar.hide-left-sidebar,
	#content.one-sidebar-width.right-sidebar.hide-right-sidebar {
		min-width:950px;
		width:950px;
	}
	
	#content.one-sidebar-width,
	#content.two-sidebars-width.hide-left-sidebar,
	#content.two-sidebars-width.hide-right-sidebar {
		float:left;
		min-width:650px;
		width:650px;
		/* border-right:solid 1px #CCCCCC; */
	}

	#content.two-sidebars-width {
		float:left;
		min-width:419px;
		width:419px;
	}
	
	#left-sidebar {
		float:left;
		width:220px;
		/* border-right:solid 1px #CCCCCC; */
		padding-right:20px;
		position:relative;
	}

	#sidebar {
		float:left;
		width:220px;
		border-left:solid 1px transparent;
		padding-left:20px;
		position:relative;
	}

	#content.num-columns-2 .column {
		/* width:324px; */
		width:224px;
		float:left;
	}

	#content.num-columns-2 .column.front-page-column-1,
	#content.num-columns-2 .column.odd {
		/* border-right:solid 1px #CCCCCC; */
		padding-right:20px;
		margin-right:-1px;
	}

	#content.num-columns-2 .column.front-page-column-2,
	#content.num-columns-2 .column.even {
		/* border-left:solid 1px #CCCCCC; */
		position:relative;
		padding-left:20px;
	}
	
	body.archive #content.num-columns-1 .story,
	body.search #content.num-columns-1 .story {
		/* border-bottom:solid 1px #ccc; */
		padding:10px 0px;
	}


/****************************************************************************************
 * Header
 ****************************************************************************************/


	#header .title-box a {
		color: #333;
	}
	
	#site-searchform {
		border: 1px solid #ccc;
	}


	#content .story > h3 {
		display:inline-block;
	}

	#content .connection-groups {
		float:right;
	}
	
	#content .connection-groups > div {
		display:inline-block;
	}

	#content .story .links {
		margin-bottom:10px;
	}
	
	#content .story .column-1 {
		float:left;
		width:220px;
	}

	#content .story .column-2 {
		float:right;
		width:460px;
	}

	#content .story .connection-links h5 {
		border-bottom:solid 1px #ccc;
	}
		
	#content .story .column-1 a,
	#content .story .column-2 a {
		color:#000;
	}

	#content .story .connection-links {
		border:solid 1px #ccc;
		background-color:#f6f6f6;
		padding:10px;
	}
	
	#content .story .connection-links .column {
		float:left;
		width:210px;
	}
	
	#content .story .connection-links .column-2 {
		float:right;
	}
	
	#content .story .connection-links .column > div {
	}
	
	#content .story .content {
		clear:both;
		padding-top:15px;
	}

	#content .story .contact-info {
		color:#666;
		line-height:1.2em;
	}	
	
	#content .story .contact-info a {
		color:#666;
	}
	
	#content .story .post-contents {
		clear: both;
		border-top: solid 1px #ccc;
		margin-top: 15px;
		padding-top: 15px;
	}
	
	#content #searchsubmit {
		margin:0;
	}

